body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[type='button'] {
  background-color: brown;
}

.header-logo {
  color: #2E2F42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-logo-black {
color: #2e2f42;
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
}

.header-menu-link{
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
  color: #ffffff;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center
}

.hero-btn {
color: #ffffff;
background-color: #4D5AE5;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em
}

.features {
  background-color: #FFFFFF;
}

.visually-hidden {

}

.features-list {

}

.features-item {

}

.features-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
}

.text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}