body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF; /* Фон сторінки */
  color: #434455; /* Колір тексту */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  /* Видалено зайві стилі, зберігся лише мінімум */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

[type='button'] {
  background-color: brown;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-black {
  color: #2E2F42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.address-list {
  /* Якщо цей клас не використовується, то можна залишити порожнім */
}

.address-item {
  /* Якщо цей клас не використовується, то можна залишити порожнім */
}

.address-link {
  color: rgb(67, 68, 85);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero {
  background-color: #2E2F42;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  color: #ffffff;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf; 
  outline: none;
}

.features {
  background-color: #FFFFFF;
}

.features-subtitle {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #F4F4FD;
}

.team-title {
  color: #2E2F42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  background-color: #FFFFFF;
}

.team-item {
  background-color: #FFFFFF;
}

.team-img {
  /* Якщо цей клас не використовується, можна залишити порожнім */
}

.team-subtitle {
  color: #2E2F42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  /* Якщо цей клас не використовується, можна залишити порожнім */
}

.portfolio-title {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.portfolio-list {
  
}

.portfolio-item{

}


.portfolio-img {
 
}

.portfolio-subtitle {
  /* Header 3 */
  color: rgb(46, 47, 66);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  /* Body */
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color:#2E2F42;
}

.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-logo-two {
  color: #f4f4fd;
}

/* Зміна кольору шрифту при ховері та фокусі на посиланні в першому пункті списку */
ul li:first-child a:hover,
ul li:first-child a:focus {
  color: #404bbf;
}
